@using Borogove;
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      lang="@Metadata.Get(WorkMetadataCanonicalNames.Language, System.Globalization.CultureInfo.CurrentCulture.Name)"
      xml:lang="@Metadata.Get(WorkMetadataCanonicalNames.Language, System.Globalization.CultureInfo.CurrentCulture.Name)">
<head>
    <meta name="generator" content="Wyam" />
    <meta name="generator" content="Borogove" />
    <meta charset="utf-8" />
    @Html.Partial("_MetadataElements")
    <title>@(string.IsNullOrEmpty(ViewBag.Title) ? Metadata.Get(WorkMetadataCanonicalNames.Title, "Untitled") : ViewBag.Title)</title>
    @Html.Partial("_LinkElements")
</head>
<body>
    <script src="/js/lib/require.js"></script>
    <script src="/js/RequireConfig.js"></script>
    <header>
        @if (ViewBag.ShowUserWidget == null || ViewBag.ShowUserWidget)
        {
            @Html.Partial("_UserWidget.cshtml")
        }
    </header>
    @if (Metadata.ContainsKey(WorkMetadataCanonicalNames.Identifier))
    {
        <input type="hidden" id="workIdentifier" value="@Metadata.Get(WorkMetadataCanonicalNames.Identifier)" />
    }
    @RenderBody()
    @if (ViewBag.ShowUserWidget == null || ViewBag.ShowUserWidget)
    {
        <script src="/js/UserWidget.js"></script>
    }
</body>
</html>
